<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
<head>
{{ partial "head.html" . }}
</head>
<body>
    {{ if (ne .Kind "404") }}
    <aside class="first">
        <!-- <svg class="background" preserveAspectRatio="none" viewBox="0 0 1441 200"><path class="darkline" d="M.096 0H1440l-.096 9.249c-68.201 22.68-149.936 36.746-245.204 42.198C857.665 70.738 893.061 150 719.952 150c-97.684 0-194.212-85.308-276.235-85.308-82.023 0-91.028 22.856-156.68 22.856-43.767 0-139.446-26.1-287.037-78.299L.096 0z" fill="#5A67D8" opacity=".496"/><path class="lightline" d="M.096 0H1440l-.096 9.249c-55.851 37.67-100.093 56.505-132.726 56.505-48.95 0-119.392-28.004-171.378-28.004-141.74 0-95.702 96.212-265.672 66.73C813.408 94.644 759.202 65.748 719 65.755c-40.202.007-127.08 38.727-183.209 38.727-97.684 0-132.197-66.731-214.22-66.731S189.071 75 147.327 75C119.497 75 70.387 53.083 0 9.249L.096 0z" fill="#8564F2" opacity=".628"/></svg> -->
        <!-- <div style="background-image: linear-gradient(#A3BFFA, #667EEA); height:300px; height: 100px;">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" width="120%" height="100px">
                <polygon class="svg--sm" fill="white" points="0,0 30,100 65,21 90,100 100,75 100,100 0,100"/>
                <polygon class="svg--lg" fill="white" points="0,0 15,100 33,21 45,100 50,75 55,100 72,20 85,100 95,50 100,80 100,100 0,100" />
            </svg>
        </div> -->
        <svg width="100%" height="100" class="graph">
            <rect x="0" y="0" width="24" height="20"></rect>
            <rect x="25" y="0" width="24" height="40"></rect>
            <rect x="50" y="0" width="24" height="52"></rect>
            <rect x="75" y="0" width="24" height="76"></rect>
            <rect x="100" y="0" width="24" height="84"></rect>
            <rect x="125" y="0" width="24" height="100"></rect>
            <rect x="150" y="0" width="24" height="88"></rect>
            <rect x="175" y="0" width="24" height="72"></rect>
            <rect x="200" y="0" width="24" height="60"></rect>
            <rect x="225" y="0" width="24" height="52"></rect>
            <rect x="250" y="0" width="24" height="44"></rect>
            <rect x="275" y="0" width="24" height="48"></rect>
            <rect x="300" y="0" width="24" height="60"></rect>
            <rect x="325" y="0" width="24" height="80"></rect>
            <rect x="350" y="0" width="24" height="72"></rect>
            <rect x="375" y="0" width="24" height="68"></rect>
            <rect x="400" y="0" width="24" height="64"></rect>
            <rect x="425" y="0" width="24" height="72"></rect>
            <rect x="450" y="0" width="24" height="92"></rect>
            <rect x="475" y="0" width="24" height="100"></rect>
            <text text-anchor="middle" x="12" y="15" font-size="11px" fill="white">5</text>
            <text text-anchor="middle" x="36" y="30" font-size="11px" fill="white">10</text>
            <text text-anchor="middle" x="61" y="45" font-size="11px" fill="white">13</text>
            <text text-anchor="middle" x="86" y="65" font-size="11px" fill="white">19</text>
            <text text-anchor="middle" x="111" y="75" font-size="11px" fill="white">21</text>
            <text text-anchor="middle" x="136" y="90" font-size="11px" fill="white">25</text>
            <text text-anchor="middle" x="161" y="80" font-size="11px" fill="white">22</text>
            <text text-anchor="middle" x="186" y="65" font-size="11px" fill="white">18</text>
            <text text-anchor="middle" x="211" y="50" font-size="11px" fill="white">15</text>
            <text text-anchor="middle" x="236" y="45" font-size="11px" fill="white">13</text>
            <text text-anchor="middle" x="261" y="35" font-size="11px" fill="white">11</text>
            <text text-anchor="middle" x="286" y="38" font-size="11px" fill="white">12</text>
            <text text-anchor="middle" x="311" y="50" font-size="11px" fill="white">15</text>
            <text text-anchor="middle" x="336" y="55" font-size="11px" fill="white">20</text>
            <text text-anchor="middle" x="361" y="42" font-size="11px" fill="white">18</text>
            <text text-anchor="middle" x="386" y="46" font-size="11px" fill="white">17</text>
            <text text-anchor="middle" x="411" y="50" font-size="11px" fill="white">16</text>
            <text text-anchor="middle" x="436" y="42" font-size="11px" fill="white">18</text>
            <text text-anchor="middle" x="461" y="22" font-size="11px" fill="white">23</text>
            <text text-anchor="middle" x="486" y="14" font-size="11px" fill="white">25</text>
        </svg>
        {{ block "profile" . }}{{ end }}
        {{ if .Site.Social }}
            {{ partial "social.html" . }}
        {{ end }}
    </aside>
    {{ end }}
    <section id="wrapper">
        {{ partial "nav.html" . }}
        {{ block "main" . -}}{{- end }}
        {{ partial "footer.html" . }}
    </section>
    {{ partial "js.html" . }}
</body>
</html>
