{{ define "main" }}
<article class="post">
    <header>
        <h1>
            <a href="{{ .Permalink }}">
                <svg aria-hidden="true" height="24" version="1.1" viewBox="0 0 16 16" width="20"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg>                
            {{ .Title }}
            </a>
        </h1>
        <h2 class="headline">
            <span>{{ .Date.Format "January 2, 2006" }} </span>
            {{ with .Params.tags }}
            {{ if ge (len .) 1 }}
                {{ range . }}
                <span class="tag">
                    <svg fill="#718096" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16"><path class="heroicon-ui" d="M2.59 13.41A1.98 1.98 0 0 1 2 12V7a5 5 0 0 1 5-5h4.99c.53 0 1.04.2 1.42.59l8 8a2 2 0 0 1 0 2.82l-8 8a2 2 0 0 1-2.82 0l-8-8zM20 12l-8-8H7a3 3 0 0 0-3 3v5l8 8 8-8zM7 8a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/></svg>
                    <a style="margin-left: 10px;" href="{{ printf "tags/%s" (. | urlize) | absURL }}">{{ . }}</a>
                </span>
                {{ end }}
            {{ end }}
            {{ end}}
        </h2>
        {{ if ne .GitInfo nil }}
        <p class="last-edited">
            <a href="{{ .Site.Social.github }}/jorgelbg.github.io/commit/{{.GitInfo.Hash}}" title="{{.GitInfo.Subject}}">Last edited on {{ .Lastmod.Format "2 January 2006" }}</a>
        </p>
        {{ end }}
    </header>
    <section id="post-body">
        {{ .Content }}
    </section>
</article>

<footer id="post-meta" class="clearfix">
    <svg class="avatar" width="50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path fill="#CBD5E0" d="M20.3 12.04l1.01 3a1 1 0 0 1-1.26 1.27l-3.01-1a7 7 0 1 1 3.27-3.27zM11 10a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"></path>
        <path fill="#4A5568" d="M15.88 17.8a7 7 0 0 1-8.92 2.5l-3 1.01a1 1 0 0 1-1.27-1.26l1-3.01A6.97 6.97 0 0 1 5 9.1a9 9 0 0 0 10.88 8.7z"></path>
    </svg>
    {{ with .Site.Params.twitter }}<a href="https://twitter.com/{{ . }}">{{ end }}
    <!-- <img class="avatar" src="{{ "images/avatar.png" | absURL }}"> -->
    <div>
        <!-- <span class="dark">{{ .Site.Params.name }}</span> -->
        <!-- <span>{{ .Site.Params.aboutAuthor }}</span> -->
        <span class="dark">Want to leave a comment?</span>
        <span>Drop me a message on Twitter @{{ .Site.Params.twitter }} </span>
    </div>
    {{ with .Site.Params.twitter }}</a>{{ end }}
    <section id="sharing">
        {{ partial "share.html" . }}
    </section>
</footer>

{{ template "_internal/disqus.html" . }}

{{ partial "latest-posts.html" . }}
{{ end }}
