body {
  letter-spacing: 0.3px;
}

#post-list li {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

#post-list .dates {
  display: flex;
  flex-direction: column;
  text-align: right;
  line-height: 1.5;
  color: #7d7d7d;
}

#post-list .dates span {
  font-size: 2rem;
}

.profile h2 {
  color: #7d7d7d;
  font-size: 1.3rem;
}

.post h2.subtitle {
  background-color: #f7f7f7;
  /* border-right: 4px solid #5badf0;
    border-bottom: 4px solid #5badf0; */
  padding: 10px 30px;
  text-align: left;
  margin-top: 30px;
  color: #8c8c8c;
  font: normal 1.1rem/2rem "Helvetica Neue", Helvetica, Arial, sans-serif;
}

kbd {
  border: 1px solid #aaa;
  border-radius: 4px;
  display: inline-block;
  padding: 0px 9px;
  background: linear-gradient(178deg, #fff, #fff, #fff, #ddd);
}

.post h2 {
  margin: 30px 0 15px;
}
