<ul id="post-list">
    {{ range where .Paginator.Pages "Section" "ne" "" }}
        <li>
            <a href="{{ .Permalink }}">
                <aside class="dates">{{ .Date.Format "Jan" }}
                    <span>{{ .Date.Format "2" }}</span>{{ .Date.Format "2006" }}</aside>
            </a>
            <a href="{{ .Permalink }}" class="title">
                <h2>{{ .LinkTitle }}</h2>
                <p>{{ .Description | markdownify }}</p>
            </a>
        </li>
    {{ end }}
</ul>
